body{
    font-family: "Oswald";
    background-color: #ffffe7;
}

#res{
    font-size: 20px;
}

.botaoBusca{
    background-color: #00cc00;
    font-size: 15px;
    border:none;
    padding: 10px 20px;
    border-radius: 10%;
    cursor: pointer;
}

.botaoBusca:hover {
    background-color: #25e725;
}

.primeiroTitulo{
    text-align: center;
}

.nomeDaEmp{
    font-size: 20px;
}
